@{
    ViewData["Title"] = "Home Page";
}
<div class="app-main__outer">
    <div class="app-main__inner">

        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-display2 icon-gradient bg-warm-flame"></i>
                    </div>
                    <div>
                        Welcome
                        <div class="page-title-subheading">
                            <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>     